# Project - Pandas and Excel Export
### Goal
# learn data science with juma the python Dev
- Learn how to use Pandas DataFrames
- Export to Excel spreadsheets

### Description
- import pandas as pd
- Read the CSV file files/SalesData.csv with pandas
    - Remember to set index_col to Date, delimiter to ';' and parse_dates to True
- Group the data by **Sales rep** and sum it
- Group the data by month
    - HINT: Use pd.Grouper(freq='M')
    - HINT: Change the index naming to use month names
- Export the data to Excel
    - Create an ExcelWriter from Pandas
    - Write a sheet with **Sales rep** data create above (remember to set sheet_name)
    - Write a sheet with **Monthly** data created above (remember to set sheet_name)
- Bonus:
    - Create charts column charts for each sheet.
    - Use the simple way we created it.

In [1]:
import pandas as pd

/usr/lib/python3/dist-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_csv('//home/activator/Desktop/Learn-Python-With-Juma/files/SalesData.csv',
 delimiter=';', parse_dates=True, index_col='Date')

In [3]:
data.head()

            Sales rep        Item  Price  Quantity  Sale
Date
2020-05-31        Mia     Markers      4         1     4
2020-02-01        Mia  Desk chair    199         2   398
2020-09-21     Oliver       Table   1099         2  2198
2020-07-15  Charlotte    Desk pad      9         2    18
2020-05-27       Emma        Book     12         1    12

In [4]:
data.dtypes

Sales rep    object
Item         object
Price         int64
Quantity      int64
Sale          int64
dtype: object

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-05-31 to 2020-01-26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sales rep  1000 non-null   object
 1   Item       1000 non-null   object
 2   Price      1000 non-null   int64
 3   Quantity   1000 non-null   int64
 4   Sale       1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 46.9+ KB

In [6]:
reps_sales = data.groupby('Sales rep').sum()['Sale']

In [7]:
reps_sales

Sales rep
Charlotte     74599
Emma          65867
Ethan         40970
Liam          66989
Mia           88199
Noah          78575
Oliver        89355
Sophia       103480
William       80400
Name: Sale, dtype: int64

In [8]:
monthly_sale = data.groupby(pd.Grouper(freq='M')).sum()['Sale']
monthly_sale.index = monthly_sale.index.month_name()

/tmp/ipykernel_136028/2072250018.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sale = data.groupby(pd.Grouper(freq='M')).sum()['Sale']

In [9]:
monthly_sale

Date
January      69990
February     51847
March        67500
April        58401
May          40319
June         59397
July         64251
August       51571
September    55666
October      50093
November     57458
December     61941
Name: Sale, dtype: int64

In [10]:
workbook = pd.ExcelWriter('SalesReport.xlsx')
reps_sales.to_excel(workbook, sheet_name='Sales per rep')
monthly_sale.to_excel(workbook, sheet_name='Monthly')
workbook.close()

In [18]:
workbook = pd.ExcelWriter('SalesReport.xlsx')
reps_sales.to_excel(workbook, sheet_name='Sales per rep')
monthly_sale.to_excel(workbook, sheet_name='Monthly')

chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.abs
chart1.add_series({
    'name': 'Sales per rep',
    'categories': "=\'Sales per rep\'!$A$2:$A$10",
    'values': "=\'Sales per rep\'!$B$2:$B$10",

})

workbook.sheets['Sales per rep'].insert_chart('D2', chart1)


chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.abs
chart1.add_series({
    'name': 'Monthly sales',
    'categories': '=Monthly!$A$2:$A$13',
    'values': '=Monthly!$B$2:$B$13',

})

workbook.sheets['Monthly'].insert_chart('D2', chart1)

workbook.close()